<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>kuldeep.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>kuldeep.auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayMess</servlet-name>
        <servlet-class>kuldeep.PayMess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustTrans</servlet-name>
        <servlet-class>kuldeep.CustTrans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustMob</servlet-name>
        <servlet-class>kuldeep.CustMob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayShop</servlet-name>
        <servlet-class>kuldeep.PayShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayAcademic</servlet-name>
        <servlet-class>kuldeep.PayAcademic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CAuth</servlet-name>
        <servlet-class>kuldeep.CAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CLogout</servlet-name>
        <servlet-class>kuldeep.CLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CAccept</servlet-name>
        <servlet-class>kuldeep.CAccept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRefund</servlet-name>
        <servlet-class>kuldeep.CRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustSignUp</servlet-name>
        <servlet-class>kuldeep.CustSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSignUp</servlet-name>
        <servlet-class>kuldeep.CSignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayMess</servlet-name>
        <url-pattern>/PayMess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustTrans</servlet-name>
        <url-pattern>/CustTrans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustMob</servlet-name>
        <url-pattern>/CustMob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayShop</servlet-name>
        <url-pattern>/PayShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayAcademic</servlet-name>
        <url-pattern>/PayAcademic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CAuth</servlet-name>
        <url-pattern>/CAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CLogout</servlet-name>
        <url-pattern>/CLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CAccept</servlet-name>
        <url-pattern>/CAccept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRefund</servlet-name>
        <url-pattern>/CRefund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustSignUp</servlet-name>
        <url-pattern>/CustSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSignUp</servlet-name>
        <url-pattern>/CSignUp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
